<div class="flex flex-col justify-start items-center w-full">
  <%= render "form", admin_lesson: @admin_lesson %>

  <br>

  <div>
    <%= link_to "Back to lessons", admin_course_lessons_path %>
  </div>
</div>
